**/node_modules
**/.turbo

.env*

.idea/

**/mysql_logs/

### custom ###
infra/.terraform.lock.hcl
/infra/.terraform
/infra/terraform.lock.hcl
/infra/terraform.tfstate
/infra/terraform.tfstate.backup
/infra/secrets.tf
/infra/.env